:root {
    --col-main-light-blue: #2d84b7;
    --col-main-darker-blue: #1f73a3;
    --col-main-dark-blue: #102937;
    --col-main-darkest-blue: #206996;
    --col-main-navy: #11131a;
    --col-main-navy-dark: #0e1016;
    --col-white: #fff;
    --col-light-grey: #9e9fa0;
    --bg-dark-mode-main: #1a1d28;
    --bg-dark-mode-lighter: #1e212e;
    --bg-dark-mode-lightest: #272b3b;
}

body {
    background-color: var(--bg-dark-mode-main);
    color: var(--col-white);
}

h1 {
    font-size: 100px;
}

i {
    font-size: 25px;
    color: var(--col-main-light-blue);
    margin-bottom: 30px;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  

input {
    margin: 0 10px;
    width: 50px;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--bg-dark-mode-lightest);
    color: var(--col-white);
    border: 2px solid aqua;
}

button {
    margin-left: 10px;
    color: var(--col-white);
    background-color: var(--col-main-light-blue);
    padding: 8px 20px 8px 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: var(--col-main-darker-blue);
}

p.note {
    color: var(--col-light-grey);
    margin-top: 30px;
}

.blank-border {
    border: 2px solid transparent;
}

.input-error {
    border: 2px solid rgb(214, 11, 11);
  }
  
.input-success {
    border: 2px solid rgb(8, 141, 8);
  }

.icon {
    display: flex;
    flex-direction: row;
}

.alarm-time {
    margin: 3px 0 0 10px;
}